$main-color: var(--main-color);
$sec-color: var(--sec-color);
$main-color-dark: var(--sec-color);
$main-color-light: rgba(175, 105, 219, 0.43);
$text-color1: rgba(0, 0, 0, 0.6);
$text-color2: #0b2239;
$text-color3: #000000;
$text-color4: #555555;

$white: white;
